*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color:#E4E3D5;
}

.content-box {
    width: 100%;
    height: 100%;
    position: relative;
}



/* BODY */

/* MAIN-PAGE */


.row {
    width: 100%;
}


.about-page-container {
    height: 100%;
    background-image: url(images/writing2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 666px;    
    font-family: 'Cairo', sans-serif;

}

.about-page-content {
    height: 100%;
    width: 90%;
    padding-top: 100px;
    margin: auto;
    position: absolute;
    
}

.content {
    font-size: 6rem;
    color:rgb(255, 255, 255);
    float: right;
    clear: right;

}

h2 {
    margin-top: 20px;
}



/* WhatWeDo */

.whatwd-container {
    width: 100%;
    height: 40em;
    font-family: 'Tajawal', sans-serif;
    
}

.whatwd-section-container {
    height: 80%;
    width: 80%;
    margin: auto;
}

.whatwd-sections {
    width: 33.33%;
    height: 100%;
    float: left;
}


.whatwd-box {
    width: 370px;
    height: 400px;
    margin: auto;
    background-color: rgba(250, 250, 250, 0.432);
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    top: 50px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 50%);
    -webkit-font-smoothing: antialiased;
}
.whatwd-title {
    line-height: 100px;
    font-size: 1.4em ;
    color: black;
    margin-bottom: -30px;

}

.whatwd-content {
    width: 85%;
    margin: auto;
    margin-top: 60px;
    font-size: 16px;
    color: rgb(14, 14, 14);
    line-height: 30px;
}


#whatwd-button {
    position: absolute;
    margin-top: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

button p {
    height: 40px;
    width: 100px;
    line-height: 40px;
    cursor: pointer;
    font-size: 18px;;

}

.img {
    height: 100px;
    width: 100px;
    opacity: 1;
}


