.container {
    width: 80%;
    margin: auto;
}

.title-container {
    float: right;
    margin-top: 40px;
    font-size: 4em;
    width: 100%;
}

.title {
    float:right;
    font-size: 1em;

}

.line {
    background-color: black;
    height: 1px;
    clear: both;
    margin-top: 150px;
}

.book-container {
    width: 100%;
    margin-top: 40px;
    position: relative;
}


/* .new-book-logo {
    background-image: url(images/plus-book3.png) ;
    width: 100%;
    height: auto;
} */