* {
    direction: rtl;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
}

.popup-container {
    height: 600px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;

    text-align: center;
}
.popup-container * {color: black;}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);

    position: relative;
}

#popup-title {
    font-size: 1.125rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#close {
    cursor: pointer;
}

.popup-form {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-form input, input:active {
    padding: 6px 12px 6px 10px;
    border-width: 1px;
    height: 1em;
    width: 60%;
    border-radius: 10px;
    outline: none;
}

.popup-footer {
    height: 10%;
}   

.popup-footer * {
    font-size: 0.85rem;
}