* {
    color:white;
    font-size: 24px;
}

.navbar-container {
    height: 50px;
    background-color: rgb(109, 3, 3);
}

.navbar-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin-left: 40px;;
    float: right;
    height: 100%;
    width: 150px;
    text-align: center;
}

#login {
    float:left;
}

.medium-screen {display: none;}

@media (max-width: 768px) {
    .large-screen  {
        display: none;  
    }
    .medium-screen {
        display: initial;
    }
}