* {
    font-family: 'Tajawal', sans-serif;
}

.nav.container {    
    background-color: rgb(109, 3, 3);
    height: 40px;
    width: 100%;
    min-height: 2vw;
}

.nav.content.container { 
    display: inline-block;
    color: white; 
    font-size: 22px;
    height: 100%;
    width: 80%;
    margin: 0 10%;
}

.nav.content {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav.content.left {
    float: left;
}

.nav.content.right {
    float: right;
}

.nav.content span {
    margin: 10px;
}

