*{
    font-family: 'Cairo', sans-serif;
}

body {
    background-color:red;
}

.about-page-container {
    background-image: url(/static/media/about_page.jpg);
    background-position: center;
    background-size: cover;
    height: 50%;   
}

.about-page-content {
    height: 100%;
    width: 90%;
    padding-top: 100px;
    margin: auto;
    position: absolute;
}