.register-background {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
}

.register-container {
    height: 650px;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    
    overflow: hidden;
    text-align: center;
}

.register-header {
    color:white;
    width: 100%;
    height: 7.5%;
    background-color: rgb(109, 3, 3);
    box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-title {
    font-size: 1.125rem;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}

.register-form {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.register-form input, input:active {
    color:black;
    padding: 6px 12px 6px 10px;
    border-width: 1px;
    height: 1em;
    width: 60%;
    border-radius: 10px;
    outline: none;
}

.register-footer * {
    color:black;
}